.customer-support-box {
    border: 15px solid lightblue;
    width: 300px;
    min-height: 395px;
    height: auto;
    margin: auto;
    /* margin-bottom: 50px; */

}

.customer-support-image img {
    width: 300px;
    height: 300px;
}

.cls-message {
    width: 250px;
    text-align: center;
    margin: auto;
    margin-bottom: 10px;
}

.discussion-box-deactive {
    display: none;
}

.discussion-box-active {
    width: 300px;
    min-height: 300px;
    height: auto;
}

.message-view-box {
    width: 270px;
    min-height: 200px;
    height: auto;
    border: solid pink 15px;
    margin-bottom: 15px;
}

.discussion-textarea {
    width: 280px;
    position: relative;
    /* -ms-transform: translateX(50%); */
    transform: translateX(2.45%);
}

.submit {
    position: absolute;
    /* -ms-transform: translateX(50%); */
    transform: translateX(15%);
    /* transform: translateY(5%); */
}

.user-talk-box {
    border: pink solid 2px;
}

.AI-talk-box {
    border: lightblue solid 2px;
}
