.Main-Box {
    min-height: 600px;
    height: auto;
    border: solid #6d4621 20px;
    width: 400px;
    margin: auto;
    text-align: center;
    background: #9e8063;
    padding: 20px;
}

.User-Name {
    margin-bottom: 30px;
}

.Story-Box {
    min-height: 450px;
    height: auto;
    background: #dadada;
    padding: 15px;
}

.Story-Box p {
    margin-bottom: 20px;
}
