.user-box {
    margin: auto;
    text-align: center;
    min-height: 500px;
    height: auto;
    background: #311847;
    width: 600px;
    border: solid orange 15px;
    padding-top: 50px;

}

.user-box h1 {
    margin-bottom: 70px;
    color: white;
}

.user-box img {
    height: 300px;
    width: 200px;
}

.user-box label {
    color: white;
}

.main-events-box {
    margin-bottom: 20px;
    width: auto;
    min-height: 330px;
    height: auto;
}

.event-box {
    float: left;
    height: auto;
    width: 200px;
}

.event-box img {
    float: top;
}

.event-box p {
    color: white;
}

.event-box input {
    float: bottom;
}

.code-generator {
    margin-bottom: 30px;
}

.user-event-code-box {
    margin: auto;
    width: 300px;
    min-height: 100px;
    height: auto;
    background: #F2EDEB;
    margin-bottom: 30px;
}

.total-para {
    color: white;
    text-align: center;
    margin-bottom: 20px;
}

.check-out {
    margin-bottom: 30px;
}

.admin-panel {
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    min-height: 900px;
    height: auto;
    background: #F2EDEB;
    border: solid 15px #F05365;
}

.event-information-box {
    width: 300px;
    min-height: 300px;
    height: auto;
    background: #F2EDEB;
    border-bottom: solid 15px #F05365;
}

.admin-panel div:last-child {
    border-bottom: none;
}

.admin-box h2 {
    text-align: center;
}
