.slide-show {
    height: 500px;
    width: 500px;
    margin: auto;
}

.slide-show img {
    height: 500px;
    width: 500px;
}

.prev {
    position: absolute;
    cursor: pointer;
    top: 250px;
    left: 540px;
    font-weight: bold;
    color: white;
}

.next {
    position: absolute;
    cursor: pointer;
    top: 250px;
    right: 540px;
    font-weight: bold;
    color: white;
}
/*
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: red;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
} */
