.text-box{
    height: auto;
    border: solid #1f5223 25px;
    background: #dadada;
    padding: 20px 10px;
    margin: auto;
    min-height: 600px;
    max-width: 650px;

}

.Header-Box {
    background: #25632a;
    padding: 1px 10px 0px 10px;
    margin-bottom: 20px;
}

h1{
    text-align: center;

}

.item-box {
    float: left;
    width: 500px;
    margin: 10px;
    background-color: orange;
}

button {
    float: right;
}

input {
    margin-bottom: 20px;
    width: 500px;
}
